# Database
DATABASE_URL=""
RESEND_API_KEY=

# NextAuth
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""

# Google OAuth (fill in with your credentials)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
STRIPE_SECRET_KEY=