# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
build
dist
.planning

# Production
*.log
npm-debug.log*

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env
.env*.local
.env.production.local
.env.development.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/

/src/generated/prisma
